header {
  background-image: url("https://images.unsplash.com/photo-1516426122078-c23e76319801?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}

.heading {
  font-size: 6rem;
  font-family: "Leckerli One", cursive;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

.pics {
  width: 100%;
  height: 100%;
  background: url("https://img.pngio.com/white-tiger-white-tiger-no-background-5094341-pngtube-white-tiger-backgrounds-png-920_486.png")
    no-repeat;
  background-size: contain;
}

.pics:hover {
  width: 100%;
  height: 100%;
  background: url("https://res2.weblium.site/res/5dae995b993efb002638b1a5/5ddfc8b1da9be7002267a031_optimized_1396_c1396x930-0x0") no-repeat;
  background-size: contain;
}
}
